<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue.js routing test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </header>

        <!-- where templates are appended -->
        <section id="view">
            <div class="home" v-if="routes.home" v-component="home-section" v-transition></div>
            <div class="about" v-if="routes.about" v-component="about-section" v-transition></div>
        </section>

    <script src="build/build.js"></script>
    </body>
</html>